

body {
  background: #F1F3FA;
}


.profile {
  margin: 20px;
}


.sidebar {
  padding: 20px 0 20px 0;
  background: #fff;
}

.useravatar img {

  position:relative; 
  border-radius: 50%; 
  width: 20vmin; 
  height: 20vmin; 
  object-fit: cover; 
  object-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.usertitle {
  text-align: center;
  margin-top: 20px;
}

.name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #589cd4;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 14px;
}



.content {
  padding: 20px;
  background: #fff;
  min-height: 500px;
}

.Password_button { 
  position:relative; 
  margin-left: auto;
  margin-right: auto;
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #201d37;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.3rem;
  color: #9b9b9b;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}
/* demo */
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #201d37;
}
#Save:disabled{
  cursor: not-allowed;
  pointer-events: all !important;
}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 54;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
    color:white
	
  }
.modal-content {
	background-color: #201d37;
    float: left;
    height: 80%;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
  }
  .topright {
      position: absolute;
    right: 0;
    top: 0;
    margin: 2%;
  }
  .fa-times-circle:hover {
    color: red;
}


.loader {
  background: #000;
  background: radial-gradient(#222, #000);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: 
      spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
  ;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  0%, 15% {
      transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
}
#h1emote {
  font-size: 0.9em;
  font-weight: 100;
  letter-spacing: 3px;
  padding-top: 5px;
  color: #201d37;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.green {
  font-size: 0.9em;
  font-weight: 100;
  letter-spacing: 3px;
  padding-top: 5px;
  color: #fcfcfc;
  padding-bottom: 5px;
  text-transform: uppercase;
    color: #4ec07d;
}
.red {
    
    color: #e96075;
}
.alert {
    font-weight: 700;
    letter-spacing: 5px;
}
#pemote-fail, #pemote-success, #pemote-fail-02 {
    margin-top: -10px;
    font-size: 12px;
    font-weight: 100;
    color: #5e5e5e;
    letter-spacing: 1px;
}
button, .dot {
    cursor: pointer;
}
#success-box {
    position: absolute;
    width: 35%;
    height: 100%;
    background: linear-gradient(to bottom right, #b0db7d 40%, #99dbb4 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(203, 205, 211, 10);
    perspective: 40px;
    left:30%;

}
#error-box {
    position: absolute;
    width: 35%;
    height: 100%;
    background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(203, 205, 211, 10);
    left:30%;
}
#error-box-02 {
  position: absolute;
  width: 35%;
  height: 100%;
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 10);
  left:30%;
}
.dot {
    width: 8px;
    height: 8px;
    background: #fcfcfc;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    right: 6%;
}
.dot:hover {
    background: #c9c9c9;
}
.two {
    right: 12%;
    opacity: 0.5;
}
.face {
    position: absolute;
    width: 22%;
    height: 22%;
    background: #fcfcfc;
    border-radius: 50%;
    border: 1px solid #777;
    top: 21%;
    left: 37.5%;
    z-index: 2;
    animation: bounce 1s ease-in infinite;
}
.face2 {
    position: absolute;
    width: 22%;
    height: 22%;
    background: #fcfcfc;
    border-radius: 50%;
    border: 1px solid #777;
    top: 21%;
    left: 37.5%;
    z-index: 2;
    animation: roll 3s ease-in-out infinite;
}
.eye {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #777;
    border-radius: 50%;
    top: 40%;
    left: 20%;
}
.right {
    left: 68%;
}
.mouth {
    position: absolute;
    top: 43%;
    left: 41%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}
.happy {
    border: 2px solid;
    border-color: transparent #777 #777 transparent;
    transform: rotate(45deg);
}
.sad {
    top: 49%;
    border: 2px solid;
    border-color: #777 transparent transparent #777;
    transform: rotate(45deg);
}
.shadow {
    position: absolute;
    width: 21%;
    height: 3%;
    opacity: 0.5;
    background: #777;
    left: 40%;
    top: 43%;
    border-radius: 50%;
    z-index: 1;
}
.scale {
    animation: scale 1s ease-in infinite;
}
.move {
    animation: move 3s ease-in-out infinite;
}
.message {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 40%;
    top: 47%;
}
.success-button-box ,.fail-button-box {
    position: absolute;
    background: #fcfcfc;
    width: 50%;
    height: 12%;
    border-radius: 20px;
    top: 80%;
    left: 25%;
    outline: 0;
    border: none;
    box-shadow: 2px 2px 10px rgba(119, 119, 119, .5);
    transition: all 0.5s ease-in-out;
}
.button-box:hover ,.fail-button-box:hover {
    background: #efefef;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
@keyframes bounce {
    50% {
        transform: translateY(-10px);
   }
}
@keyframes scale {
    50% {
        transform: scale(0.9);
   }
}
@keyframes roll {
    0% {
        transform: rotate(0deg);
        left: 25%;
   }
    50% {
        left: 60%;
        transform: rotate(168deg);
   }
    100% {
        transform: rotate(0deg);
        left: 25%;
   }
}
@keyframes move {
    0% {
        left: 25%;
   }
    50% {
        left: 60%;
   }
    100% {
        left: 25%;
   }
}
.modalEmote {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 54;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	padding-top: 60px;
	
  }
  #containerEmote {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 750px;
    height: 250px;
    /* position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px; 
    margin-left:-100px;  */
}
h1{
  margin-top: 4px;
}